---
import Layout from "../layouts/Layout.astro";
import Main from "@/feature/content/Main";
import HttpClient from "@/services/http-client";
import type { Articles } from "@/types/article";
import type { Tags } from "@/types/tags";
import { API } from "@/constants/api";
import { CONTENT_LIMIT } from "@/constants/pagination";

const data: Articles = await HttpClient.get(`${API.ARTICLES}?offset=0&limit=${CONTENT_LIMIT}`);
const tags: Tags = await HttpClient.get(`${API.TAGS}`);
---

<Layout>
  <div class="container">
    <Main client:load data={data} tagsData={tags} />
  </div>
</Layout>

<style>
  .container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 25px 5%;
  }
</style>
